*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    height: 80px;
    color: white;
    font-size: x-large;
    
}
.backGround{
    position: relative;
    background: url(view-travel-items-assortment-still-life_23-2149617645.avif) no-repeat;
    background-size: cover;
    height: 115vh;
}

.container{
    opacity:.97;
    margin:auto;
    background-color: white;
    width: 40%;
    height: 112vh;
    padding: 10px;
}

.container h3{
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
}

.container form .mandotory{
    color: red;
}

label{
    font-size: 18px;
}

input,select,button{
    padding: 10px;
    margin-top: 8px;
}

button{
    color: black;
    background-color: rgba(206, 206, 206, 0.5);
    font-size: 20px;
}

.enable{
    background-color: black;
    color: white;
    opacity: 1;
}

.full-width{
    width: 100%;
}


.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:inherit ;
    background-color: rgba(0, 0, 0, 0.6);
    
}

.popup{
    display: none;
    position: fixed;
    font-size: 30px;    
    width: 40%;
    height: 350px; 
    background-color: azure;
    color: black;   
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px;
   }


.close{
    font-size: 20px;
    position: fixed;
    right: 25px;
    font-weight: bold;

}   
